<!--####################### Quote Starts Here ###################-->
<div class="footer-ablove">
    <div class="container">
        
    </div>
</div>

<div class="copy">
    <div class="container">
        <a href="/"> &copy; Flixx | All Rights Reserved </a>
    </div>

</div>
</body>
<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/js/script.js"></script>
