<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= title %></title>

	<link rel="shortcut icon" href="/assets/images/fav.jpg">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/fontawsom-all.min.css">
	<link rel="stylesheet" href="/assets/css/animate.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/responsive.css" rel="stylesheet">

	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<style>
    .logo-404 {
        margin-top: 60px;
    }

	.container{
		margin-bottom: 4em;
	}
</style>

<body>

    <div class="container text-center">
		<div class="logo-404 logo_agile">
			<!-- <a href="/"><img src="/" alt="" />Joyz Store</a> -->
			<a href="/"> <img src="/assets2/images/flixx2.png" alt=""> </a>
		</div>
		<div class="content-404">
			<!-- <img src="images/logo2.png" class="img-responsive" alt="" /> -->
			<h4 style="margin-bottom: 1em;"><b>OPPS!</b> We Couldn’t find what you are looking for.</h4>
			<p>Uh... So it looks like we Couldn’t get the video you searched.</p>
			<h2><a href="/">Check other Videos</a></h2>
		</div>
	</div>
</body>
</html>

<%- include('../layouts/footer') %>