<%- include ("../layouts/header") %>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h5>You can change your name and password here</h5>
                <form method="POST" action="/save_settings">
                    <% if(typeof req.message !== "undefined" && req.message == "success") { %>
                        <div class="alert alert-success">
                            Settings has been saved.
                        </div>
                    <% } %>
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" name="name" value="<%= user.name %>" required> 
                    </div>
                    <div class="form-group">
                        <label>Password (Leave blank if no change)</label>
                        <input class="form-control" name="password" placeholder="******" type="password">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                </form>
            </div>
        </div>
    </div>

<%- include ("../layouts/footer") %>